<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static',    filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static',    filename='css/home.css') }}">
    <title>Home</title>
  </head>
  <body>
      <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" style="color: white;">Joker Travels</a>
      <a class="navbar-brand" style="color: white;">Put On A Happy Face  <img src="https://www.freeiconspng.com/uploads/happy-smiley-face-png-3.png" style="height:25px;"alt="smiley face"/> </a>
      </nav>
      <div class="container" style="margin-top: 40px;">
          <form autocomplete="off" style="text-align: center;" method='post' action="">
              <div class="form-row">
                <div class="autocomplete form-group col-md-6">
                  <input type="text" class="form-control bg-dark" style="color: white;" id="From" placeholder="From" name="from", value={{request.form.from}}>
                </div>
                <div class="autocomplete form-group col-md-6">
                  <input type="text" class="form-control bg-dark" style="color: white;" id="Destination" placeholder="Destination" name="destination",value={{request.form.destination}}>
                </div>
                <div class="autocomplete form-group col-md-6">
                  <input type="text" class="form-control bg-dark" style="color: white;" id="phoneNumber" placeholder="Phonenumber" name="number",value={{request.form.number}}>
                </div>
              </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <input type="DATE" class="form-control bg-dark" style="color: white;" id="travelDate" placeholder="Date" name = "date" value={{request.form.date}}> 
                    </div>
              </div>
              <button type="submit" class="btn btn-primary">Search</button>
            </form>
      </div>
      <script src="{{ url_for('static',    filename='script/home.js') }}"></script>

     </body>
</html>
